@inherits LayoutComponentBase
<div >
    @*<div class="sidebar" style="width: auto; min-height: 100%; height: auto;">
        <NavMenu />
    </div>*@
    <div >
        <NavBar />

    </div>

    <div class="main" style="overflow:auto">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>



<style>
    .tabbed-container{
        padding-left:20px;
    }

    td {
        padding-inline: 10px;
    }

    .weapon-purple {
        color: rebeccapurple;
    }
    .weapon-blue {
        color: royalblue;
    }

    .golden-border {
        padding:5px;
        border:solid;
        border-radius:10px;
        border-color:darkgoldenrod
    }

    button {
        border-radius: 10px
    }

    body {
        background-color: #2d2d2d !important;
    }

    div {
        color: gray !important;
    }

    select {
        background-color: darkgray;
        border-radius: 20px;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: lightgray
    }

    a, .btn-link {
        color: steelblue
    }

    button, input {
        background-color: darkgray
    }
</style>
