@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FFXIVRelicTrackerBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Home Page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" style="white-space:nowrap; cursor:pointer" @onclick="()=> { collapseArrMenu = !collapseArrMenu; ToggleNavMenu(); }">
                <span class="oi oi-list-rich" aria-hidden="true"> A Realm Reborn</span>
            </NavLink>
            @if (collapseArrMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ArrSummary">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> ARR Summary
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage1Relic">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Relic
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage2Zenith">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Zenith
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage3Atma">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Atma
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage4Animus">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Animus
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage5Novus">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Novus
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage6Nexus">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Nexus
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage7Braves">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Zodiac Braves
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Stage8Zeta">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Zodiac Zeta
                        </NavLink>
                    </li>
                </ul>
            }

        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" style="white-space:nowrap; cursor:pointer" @onclick="()=> { collapseHWMenu = !collapseHWMenu; ToggleNavMenu(); }">
                <span class="oi oi-list-rich" aria-hidden="true"> Heavensward</span>
            </NavLink>
            @if (collapseHWMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWSummary">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> HW Summary
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage1">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Animated
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage2">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Awoken
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage3">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Anima
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage4">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Hyperconductive
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage5">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Reconditioned
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage6">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Sharpened
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage7">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Complete
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="HWStage8">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Lux
                        </NavLink>
                    </li>

                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool collapseArrMenu;
    private bool collapseHWMenu;

    public string ArrMenuCollapse
    {
        get
        {
            if (collapseArrMenu)
                return "collapse";
            return "visible";
        }
    }
    public string HWMenuCollapse
    {
        get
        {
            if (collapseHWMenu)
                return "collapse";
            return "visible";
        }
    }
    private void ToggleMenu(bool expansion)
    {
        expansion = !expansion;
    }
}
