@namespace FFXIVRelicTrackerBlazor.Client.Pages.Summaries
@page "/SkysteelSummary"
@inherits SkysteelSummaryBase

<h3>Skysteel Tools Summary: @character.Name</h3>
<br />

@if (showAll)
{
    <table>
        <thead>
            <tr>
                <td></td>
                <td><span>Skysteel</span></td>
                <td><span>Skysteel +1</span></td>
                <td><span>Dragonsung</span></td>
                <td><span>Augmented Dragonsung</span></td>
                <td><span>Skysung</span></td>
                <td><span>Skybuilders'</span></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in TargetExpansion.Jobs)
            {
                @if (job.JobName != FFXIVRelicTrackerBlazor.Shared.Helpers.JobName.NA)
                {
                    <tr>
                        <td><span>@job.JobName</span></td>
                        @for (int i = 0; i <= TargetExpansion.StageCount - 1; i++)
                        {
                            var local_i = i;
                            <td><button @onclick="()=>ToggleComplete(local_i,job.JobName)">@job.Stages[local_i].Progress</button></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

}

<style>
    table {
        text-align: center;
    }

    tr:first-child .td {
        position: absolute;
    }

    td {
        padding-inline: 10px;
        min-width: 120px;
        white-space: nowrap;
    }
</style>

@code {

}
