@page "/About"

<h3>About</h3>

<div class="stack-vertical">
    <span>Thank you for using my FFXIV Relic Tracker, this is a learning project for me to make a webpage app and to use the <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank" rel="noopener noreferrer">Blazor framework</a> and to further learn programming in general</span>
    <span>The information here is a work in progress and is being updated to include all expansions</span>
    <span>The source for this project can be accessed <a href="https://github.com/VarsityPhysicist/FFXIVRelicTrackerBlazor" target="_blank" rel="noopener noreferrer">here</a>. Feel free to open any issues for bugs or feature requests; I look forward to feedback as I don't know anything about web programming or web design</span>
</div>

@code {

}
